body {
  font-family: "Arial", sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
  background-color: #2b2b2b;
  color: #fff;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.slot-machine {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
}

.reel {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid #3498db;
  border-radius: 10px;
  margin: 0 10px;
  overflow: hidden;
  position: relative;
  background-color: #fff;
  color: #333; /* Improved font color for better legibility */
}

.name {
  font-size: 24px;
  transition: transform 1s ease-in-out;
  position: absolute;
  text-align: center; /* Center the text within the reels */
}

#spin-button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 18px;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#spin-button:hover {
  background-color: #2777a5;
}

.result-container {
  display: none;
  margin-top: 20px;
  color: #fff; /* Improved font color for better legibility */
}

h2 {
  font-size: 24px;
}

#winner-name {
  font-size: 36px;
  font-weight: bold;
}

.centered-image {
  text-align: center;
}

.centered-image img {
  display: block;
  margin: 0 auto;
}

/* Confetti animation */
.confetti {
  position: fixed;
  top: 0;
  left: 0;
  width: 10px; /* Adjust the width as needed */
  height: 10px; /* Adjust the height as needed */
  pointer-events: none;
  z-index: 9999;
  animation: confetti-fall 5s linear forwards;
  opacity: 0.7; /* Adjust the opacity as needed */
}

@keyframes confetti-fall {
  to {
    transform: translateY(100vh); /* Update to translateY(100vh) */
  }
}
